/* Globaler Style */
*{
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

body {
    max-width: 1400px;
    padding-inline: 160px;
}

h1 {
    padding-top: 80px;
    padding-bottom: 20px;
}

h2 {
    margin-top: 30px;
    margin-bottom: 30px;
}

h3 {
    margin-top: 30px;
    margin-bottom: 30px;
} 

h4 {
    margin-top: 30px;
    margin-bottom: 30px;
} 


input {
    display: flex;
    margin-bottom: 5px;
}
